@model IEnumerable<MVC.Models.mvcAlmacenModel>

@{
    ViewBag.Title = "Index";
}

<h2>Almacenes</h2>

<p>
    <a href="@Url.Action("AddOrEdit", "Almacen")" class="btn btn-primary">Crear</a>
</p>
<table class="table table-striped"  id="example" class="display" style="width:100%">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Almacen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Almacen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a href="@Url.Action("AddOrEdit", "Almacen", new { id = item.Id_Almacen})" class="btn btn-info">Editar</a>
                    <a onclick="Delete(@item.Id_Almacen)" class="btn btn-info">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script type="text/javascript">
            $(function () {
                var successMessage = '@TempData["SuccessMessage"]';
                if (successMessage != '')
                    alertify.success(successMessage);
            });

        function Delete(id) {
            alertify.confirm('¿Está seguro de que desea eliminar este registro?', function () {
                location.href = '@Url.Action("Delete", "Almacen")/'+ id;
            }, null)
        }
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    }