@model IEnumerable<Inventario.Client.Models.MvcTransaccionModel>

@{
    ViewBag.Title = "Index";
}

<h2>Transacciones</h2>

<p>
    <a href="@Url.Action("AddOrEdit", "Transaccion")" class="btn btn-primary">Crear</a>
</p>
<table class="table table-striped" id="example" class="display" style="width:100%">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Transaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Transaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Almacen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Transaccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Transaccion)

                    @*@Html.DropDownListFor(m => m.Tipo_Transaccion, new SelectList(Enum.GetValues(typeof(Tipo))), "Seleccione") *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Articulo)
                    @*@Html.DisplayNameFor(model => model.Articulo.Descripcion)*@
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Almacen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a href="@Url.Action("AddOrEdit", "Transaccion", new { id = item.Id_Transaccion})" class="btn btn-info">Editar</a>
                    <a onclick="Delete(@item.Id_Transaccion)" class="btn btn-info">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script type="text/javascript">
            $(function () {
                var successMessage = '@TempData["SuccessMessage"]';
                if (successMessage != '')
                    alertify.success(successMessage);
            });

        function Delete(id) {
            alertify.confirm('¿Está seguro de que desea eliminar este registro?', function () {
                location.href = '@Url.Action("Delete", "Transaccion")/'+ id;
            }, null)
        }
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}